{% extends 'baseDash.html.twig' %}

{% block body %}


    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-arrow has-gap has-bg">
                <li class="breadcrumb-item"><a href="{{ path('dashboardAdmin') }}"><i class="material-icons">home</i> Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Trajet proposés</a></li>
            </ol>
        </nav>
    </div>

    <div class="col-md-12">
        <div class="col-12 mx-auto">
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Liste des trajets proposés</h6>
                </div>
                <div class="ms-panel-body">
                    <div class="table-responsive">
                        <table id="example4" class="table table-striped thead-primary w-100 text-center">
                            <thead>
                            <tr>
                                <th>Ville de depart</th>
                                <th>Ville d'arrivée</th>
                                <th>Date</th>
                                <th>Prix</th>
                                <th>nbr de Places</th>
                                <th>Nbr places vide</th>
                                <th>Client</th>
                                <th>Status</th>
                                <th>Galerie</th>
                                <th>Reservation</th>
                                <th>Action</th>
                            </tr>
                            </thead>

                            <tbody>


                            {% for travel in travels %}

                                <tr>
                                    <td>{{ travel.start.name }}</td>
                                    <td>{{ travel.finish.name }}</td>
                                    <td>{{ travel.startDate|date("d/m/Y") }}</td>
                                    <td>{{ travel.price }}</td>
                                    <td>{{ travel.placeNumber }}</td>
                                    <td>{{ travel.nbrPlcReserve }}</td>
                                    <td>{{ travel.user.username }}</td>

                                    <td>
                                        {% if travel.status == 'INITIATED' %}
                                            <span class="badge badge-danger">En attente</span>
                                        {% elseif travel.status == 'CANCELED'%}
                                            <span class="badge badge-dark">Annulé</span>
                                        {% elseif travel.status == 'DELIVERED'%}
                                            <span class="badge badge-success">Validé</span>
                                        {% endif %}
                                    </td>



                                    <td>
                                        {% if travel.images is not empty %}
                                            <div id="dottedSlider{{ travel.id }}" class="ms-dotted-indicator-slider carousel slide carousel-menu" data-ride="carousel">
                                                <ol class="carousel-indicators">
                                                </ol>
                                                <div class="carousel-inner carousel-inner-menu">
                                                    {% for image in travel.images |sort|reverse|slice(0, 5) %}
                                                        {% set active = "" %}

                                                        {% if loop.index == 1 %}{% set active = "active" %}{% endif %}
                                                        <div class="carousel-item {{ active }}">
                                                            <img class="d-block w-100" src="{{ asset('images/travel/') }}{{ image }}" width="150" height="100">
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <a class="carousel-control-prev" href="#dottedSlider{{ travel.id }}" role="button" data-slide="prev">
                                                    <span class="material-icons" aria-hidden="true">keyboard_arrow_left</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#dottedSlider{{ travel.id }}" role="button" data-slide="next">
                                                    <span class="material-icons" aria-hidden="true">keyboard_arrow_right</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if travel.reserves is not empty  %}
                                            <table>
                                                <tr><th>Client name</th><th>Nbr Places</th></tr>

                                                {% for reserve in travel.reserves %}
                                                    <tr>
                                                        <td>{{ reserve.client.username }}</td>
                                                        <td>{{ reserve.placeNumber }}</td>
                                                    </tr>
                                                {% endfor %}

                                            </table>
                                        {% else %}
                                            Vide
                                        {% endif %}
                                    </td>

                                    <td>

                                        {% if travel.status == 'INITIATED' %}
                                            <a href='javascript:void(0)' class="text-danger btn-order-cancel" data-toggle="modal" data-target="#modal-2" onclick='cancelTravel("{{ path('cancelTravel',{'id':travel.id})}}")'><b>Retirer</b></a>
                                            <a href='javascript:void(0)' class="text-success btn-order-status" data-toggle="modal" data-target="#modal-3" onclick='validTravel("{{ path('validTravel',{'id':travel.id})}}")'><b>Valider</b></a>
                                        {% endif %}

                                        <a href='javascript:void(0)' data-toggle="modal" data-target="#modal-1" onclick='deleteAction("{{ path('deleteTravel',{'id':travel.id}) }}")'><i class='far fa-trash-alt ms-text-danger'></i></a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="modal-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title has-icon ms-icon-round "><i class="flaticon-alert-1 bg-primary text-white"></i>Delete Confirm !</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <p>Do you really want to delete ?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <a href="#" class="btn btn-primary shadow-none" id="linkDelete">Delete</a>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="modal-2" tabindex="-1" role="dialog" aria-labelledby="modal-2">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title has-icon ms-icon-round "><i class="flaticon-alert-1 bg-primary text-white"></i>Cancel Confirm !</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <p>Do you really want to Cancel this Travel ?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <a href="#" class="btn btn-primary shadow-none" id="linkCancel">Cancel Travel</a>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="modal-3" tabindex="-1" role="dialog" aria-labelledby="modal-2">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title has-icon ms-icon-round "><i class="flaticon-alert-1 bg-primary text-white"></i>Validate Confirm !</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <p>Do you really want to validate this Travel ?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <a href="#" class="btn btn-primary shadow-none" id="linkValid">Validate</a>
                </div>

            </div>
        </div>
    </div>




{%  endblock %}


{% block javascripts %}

    <script>

        {% if formEdit|default(null) %}
        document.getElementById("modalEdit").click();
        {% endif %}

        function cancelTravel(link) {
            document.getElementById("linkCancel").href = link;
        }

        function validTravel(link) {
            document.getElementById("linkValid").href = link;
        }

    </script>

{% endblock %}

